{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],

  "extends": "airbnb-base",

  "env": {
    "mocha": true,
    "node": true
  },

  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "generator-star-spacing": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "max-len": 0,
    "new-cap": 0
  }
}
